.id1 {
    float: left;
    padding: 0 20px 20px 0;
   }

   .dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: white;
  }

  body {
    background-image: url("united-federation-of-planets-star-trek-g1jcrno20qag4rac.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
   }

   h4 {
    text-transform: uppercase;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    float: right;
    display: block;
    color: whitesmoke;
    align-content: center;
  }